<!--<div class="heading"><h1>Hello World</h1></div>
<div class="container">
  <pent-house></pent-house>
  <welcome></welcome>
  <app-animals></app-animals>
</div>
<app-flat-list></app-flat-list>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<welcome></welcome>
<app-product-list (OnProductSelection)="onProductSelection($event)"></app-product-list>

<app-cart [products]="product"></app-cart>
  <router-outlet></router-outlet>
</body>
</html>

