<!--<div class="welcome">
    <h1>{{title}}</h1>
    <h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, ratione.
      Maxime adipisci iure repudiandae sed, laboriosam voluptatum recusandae
      fugit, neque, nulla possimus ea quisquam non molestias qui atque vel soluta!
    </h3>
</div>-->
{{title | transformDataPipe:5}}
<br>
<input type="text" [(ngModel)]="num"/>
<div [ngSwitch]="num">
  <div *ngSwitchCase="1">one</div>
  <div *ngSwitchCase="2">two</div>
  <div *ngSwitchCase="3">three</div>
  <div *ngSwitchCase="4">four</div>
  <div *ngSwitchCase="5">five</div>
  <div *ngSwitchDefault>Not Applicable</div>
</div>

  